.brand {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}
.brand__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: var(--primary-500);
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 3.5rem;
  color: var(--white);
}

.brand__name {
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
}
